* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #61dafb;
}

#container {
  padding: 20px;
  border-radius: 5px;
  background-color: #4e5565;
  background-image: linear-gradient(to bottom right, #4e5565, #434956);
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  font-weight: 500;
}

h3 {
  padding-bottom: 5px;
  margin: 60px 0 10px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: small;
  letter-spacing: 2px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
}

li {
  background-color: #61dafb;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  margin-bottom: 60px;
  color: whitesmoke;
  font-size: 2em;
}

.balance {
  position: relative;
  top: -60px;
  background-color: #9c88ff;
  background-image: linear-gradient(to bottom right, #9c88ff, #8066ff);
  padding: 10px;
  border-radius: 3px;
  line-height: 2.4em;
}

.balance-red {
  color: #bc1010;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -10px;
  border-radius: 3px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
  font-weight: 300;
  text-transform: uppercase;
}

.list li.plus {
  border-right: 7px solid #2ecc71;
}

.list li.minus {
  border-right: 7px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

label {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: small;
  letter-spacing: 2px;
  margin: 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 15px;
  width: 100%;
  font-family: 'Inconsolata', monospace;
  margin: 0;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  background-image: linear-gradient(to bottom right, #9c88ff, #8066ff);
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.form-control {
  display: flex;
}
